@model Neko.App.Models.Exam.CreateQuestionInfo

@{
    ViewData["Title"] = "编辑题目";
}

<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">编辑题目</h4>
    <p>你可以在这里修改 @Model.Name 的描述和答案选项</p>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-area="Exam" asp-controller="Questions"  asp-action="QuestionEdit" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @{ await Html.RenderPartialAsync("_ParticalQuestionEdit", Model);}
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-area="Exam" asp-controller="Questions" asp-action="Index">返回</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/solutions.js"></script>
}
